<div class='container'>
<h1>Points</h1>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>
          #
        </th>
        <th>
          User Name
        </th>
        <th>
          User Email
        </th>
        <th>
          User Level
        </th>
        <th>
          Bages Earned(%)
        </th>
        <th>

        </th>
        <th></th>
        <th></th>
      </tr>
    </thead>
  </table>
</div>
